body{
    margin: 0px;
    padding: 0px;
    position: relative;
    
}
/* Navbar Start */
header{
    position: absolute;
    top: 10px;
    left: 150px;
    width: 80%;
    /* background-image: linear-gradient(to right, #95E1D3 , #EAFFD0); */
    background-color: #1b262cdc;
    z-index: 1;
    box-shadow: rgb(24, 24, 24) 0px 3px 15px 0px;
    border-radius: 50px;
}
nav{
    display: inline;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center;
}
nav .brand_name{
    display: inline;
    text-align: center;
    text-decoration: none;
    font-size:x-large;
    color: white;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.roundLetter
{
    padding: 2px;
    color: #BBE1FA;
    display: inline-block;
    font-size:x-large;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
nav ul{
    display: inline;
    margin-left: 200px;
}
nav ul li{
    display: inline;
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.5s ease-in-out;
}
nav ul li:hover{
    background-color: white;
    padding: 5px;
    border-radius: 25px;
    

}
nav ul li a{
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
nav ul li a:hover{
    color: #1B262C;
    
}

nav ul span{
    color: white;
}
nav ul .vr{
    display: inline;
    width: 5px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 1px solid white;
}
/* Navbar End */
#map {
    height: 500px;
  }
  
.contactUs{
    padding-top: 100px;
    background-image: url("../Images/d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    text-align: center;
    padding-left: 180px;
    padding-bottom: 30px;
}
.contactUs form{
    color: white;
    left:250px;
    position: relative;
    width: 45%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 25px;
    background-color:#1b262cdc;
    
    

}
.contactUs form input:not([type="reset"]){
    padding: 10px;
    width: 90%;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid gray;


}
.contactUs form textarea{
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid gray;
    
}
.contactUs form input[type="reset"]{
    background-color: #9ab4c5;
    padding: 10px;
    width: 100px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    border-radius: 25px;
    color: #1B262C;
    border: 1px solid #1B262C;
}
.contactUs form input[type="reset"]:hover{
    background-color: #3282B8;
    border: 1px solid white;
    color: white;
}
/* Slider Start */
.container{
    margin: 30px;
    border-radius: 25px;
    background-color:#1b262cdc;
    padding: 20px;
    box-shadow: rgb(24, 24, 24) 0px 3px 15px 0px;
}
.head
{
    text-align: center;
    background-color: #9ab4c5;
    padding: 15px;
    color: #1b262cdc;
    border-radius: 50px;

}
.content
{
    /* padding: 15px; */
    /* display: none;
     */
    overflow: hidden;
    transition: all 1s ease-in-out;
    height: 0px;
    color: white;
}
.content #aboutUs{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
}

.slide{
    /* display: block;
     */
    height: 500px;
}
/* Slider End */


footer{
    margin: 10px;
    position: relative;
    left: 250px;
    width: 70%;
    background-color: #1b262cdc;
    z-index: 1;
    box-shadow: rgb(24, 24, 24) 0px 3px 15px 0px;
    border-radius: 75px;
    text-align: center;
}

footer .pages{
    padding-top: 20px;
}
footer .pages div{
    display: inline;
    margin: 25px;
}
footer .footerlinks .pages div a{
    font-size: large;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
footer .social{
    padding-top: 10px;
    padding-bottom: 10px;

}
footer .social div{
    display: inline;
    color: white;
    margin: 10px;
    z-index: 1;
}
